body{
    font-family: 'Signika Negative', sans-serif;
    margin: 0%;
}
h1{
    font-size: 65px;
    padding-top: 100px;
}
p{
    font-size: 20px;
    padding-bottom:  30px;
}
.skip{
    color: rgba(48, 230, 139, 0.74);
}
.first-part{
    display: flex;
    margin-left: 7%;   
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgba(106, 10, 170, 0.781),rgba(240, 44, 109, 0.918));
    padding: 15px 35px;
    border-radius: 50px;
    color: white;
    font-weight: 700;
    font-size: 24px;
}
.first-block img{
    width: 90%;
    margin-left: 15%;
}

.second-part{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    display: flex;
    margin-top: 5%;  
    background-size: cover;
}
#fbltwo{
    padding-top: 10%;
    margin-left: 20%;
    margin-right: 10%;
}
#fblone img{
    width: 90%;
    margin: 9% 0 0 40%;
    
}
h3{
    font-size: 35px;
}
.hnp{
    text-align: center;
    margin: 0% 20% 0% 20%;
}
.fhalf img{
    width: 97%;
    border-radius: 25px;
    margin-left: 8px;
    margin-top: 8px;
}
.fhalf{
    box-shadow: 10px 10px 40px gray;
    padding: 20px 20px 0px 20px;
    margin-right: 5%;
    margin-left: 20px;
    border-radius: 25px;

}